<div class="container mt-5">
    <h3>Top Headings</h3>
    <div class="row">
        <div *ngFor="let d of topheadingDisplay" class="col-lg-3 mt-3 mb-3">

            <div class="box">
                <img src="{{d.urlToImage}}" width=100%>
            <h5 class="mt-2 mb-2">{{d.title}}</h5>
            <a href="{{d.url}}" class="btn btn-dark btn-sm mt-2">Read more</a>

            </div>
            
        </div>
    </div>

</div>
